<div class="component-box">
  <div class="header">
    <h3>{{ title }}</h3>
  </div>
  <div class="form-box">
    <form class="form" [formGroup]="userForm" (ngSubmit)="submit()">
      <div class="field user" *ngIf="!addForm">
        <label class="field-label" for="user">User:</label>
        <app-user-selection
          [control]="userForm.controls['user']"
        ></app-user-selection>
      </div>
      <div class="field name">
        <label class="field-label" for="name">Name:</label>
        <input
          class="text-input"
          required
          id="name"
          type="text"
          formControlName="name"
        />
        <div
          class="error-box"
          *ngIf="name?.invalid && (name?.touched || name?.dirty)"
        >
          <div
            *ngIf="name?.errors?.['required']"
            id="nameRequired"
            class="input-error"
          >
            Name is required.
          </div>
          <div
            *ngIf="name?.errors?.['minlength']"
            id="nameTooShort"
            class="input-error"
          >
            Name has to have at least 3 characters.
          </div>
          <div
            *ngIf="name?.errors?.['maxlength']"
            id="nameTooLong"
            class="input-error"
          >
            Name has to have maximum 30 characters.
          </div>
          <div
            *ngIf="name?.errors?.['pattern']"
            id="nameTooLong"
            class="input-error"
          >
            Your name probably does not contain any special chars or numbers.
          </div>
        </div>
      </div>
      <div class="field lastName">
        <label class="field-label" for="lastName"> Last name:</label>
        <input
          class="text-input"
          required
          minlength="4"
          id="lastName"
          type="text"
          formControlName="lastName"
        />
        <div
          *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
          class="error-box"
        >
          <div
            *ngIf="lastName?.errors?.['required']"
            id="lastNameRequired"
            class="input-error"
          >
            Lastname is required.
          </div>
          <div
            *ngIf="lastName?.errors?.['minlength']"
            id="lastNameTooShort"
            class="input-error"
          >
            Lastname has to have at least 3 characters.
          </div>
          <div
            *ngIf="lastName?.errors?.['maxlength']"
            id="lastNameTooLong"
            class="input-error"
          >
            Lastname has to have maximum 30 characters.
          </div>
          <div
            *ngIf="lastName?.errors?.['pattern']"
            id="lastNameTooLong"
            class="input-error"
          >
            Your lastname probably does not contain any special chars or
            numbers.
          </div>
        </div>
      </div>
      <div class="buttons">
        <div class="check">
          <input
            class="checkbox"
            type="checkbox"
            formControlName="redirectCheckbox"
            name="redirectCheckbox"
            id="redirectCheckbox"
          />
          <label class="redirect-label" for="redirectCheckbox">Redirect?</label>
        </div>
        <button type="submit" [disabled]="!userForm.valid" class="btn">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
