.content {
  display: flex;
  justify-content: center;
}
.content .color {
  margin: 1em;
  width: 10rem;
  height: 10rem;
  border-radius: 20%;
  border-top: 20%;
  background-color: black;
  transition: transform 250ms;
  transition-timing-function: linear;
}
.content:hover .color {
  transform: translateX(200px);
}/*# sourceMappingURL=account.component.css.map */