.content {
  display: flex;
  justify-content: center;

  .color {
    margin: 1em;
    width: 10rem;
    height: 10rem;
    border-radius: 20%;
    border-top: 20%;
    background-color: black;
    transition: transform 250ms;
    transition-timing-function: linear;
}
  &:hover {
    .color{

        transform: translateX(200px);
    }
  }
}
