@import "../../../variables.scss";
.content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  .user {
    width: 100%;
    padding: 0.25rem 0.1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &:nth-child(even){
      background-color: lightblue;
    }
    .users-personals,.details{
      font-size: 1.5rem;
      &:hover{
        color: $primary;
        cursor:pointer;
      }
    }
  }
}
