<div class="content" *ngIf="users.length > 0">
  <div class="user" *ngFor="let user of users">
    <div class="users-personals" [routerLink]="'./' + user.id">
      {{ user.name }}
      {{ user.lastName }}
    </div>
    <div (click)="goToDetails(user.id!)" class="details">Details</div>
  </div>
</div>
<div class="content" *ngIf="users.length == 0">No users to display.</div>
