@import "../../variables";
.content {
  background-color: $background;
  padding: 1.5rem 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  .orders {
    width: 75%;
    display: flex;
    justify-content: center;
    table.orders-table {
      width: 100%;
      box-sizing: border-box;
      border-spacing: 0;
      border-collapse: collapse;

      #table-head {
        color: white;
        font-size: 1.5rem;
        padding: 2rem;
        background-color: black;
        #head-row {
          width: 100%;
          th {
            border: 1px solid white;
          }
        }
      }
      tbody {
        .order {
          height: 2.5rem;
          font-size: 1.25rem;
          text-align: center;
          .cell {
            &.action {
              height: 2.5rem;
              .delete-button {
                width: 100%;
                height: 100%;
                background-color: $delete-button;
                color: $text-color-light;
                font-size: 1.25rem;
                &:hover {
                  cursor: pointer;
                  background-color: darken($delete-button, 10%);
                }
                &:focus {
                  background-color: darken($delete-button, 20%);
                }
              }
            }
          }
          .link {
            &:hover {
              color: $primary;
              cursor: pointer;
              font-weight: bold;
            }
          }

          &:nth-child(even) {
            background-color: lightblue;
          }
          &:nth-child(odd) {
            background-color: white;
          }
        }
      }
    }
  }
}
@media (max-width: $mobile-breakpoint) {
  .content {
    .orders {
      width: 95%;
    }
  }
}
