<div class="content">
  <div class="orders" *ngIf="orders.length > 0">
    <table class="orders-table">
      <thead id="table-head">
        <tr id="head-row">
          <th>Order ID</th>
          <th>User's ID</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th class="action">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="order" *ngFor="let order of orders">
          <td class="cell">
            <a class="link" (click)="navToOrder(order.user.id!, order.id)">
              {{ order.id }}
            </a>
          </td>
          <td class="cell">
            <a class="link" (click)="navToUser(order.user.id!)">
              {{ order.user.id }}
            </a>
          </td>
          <td class="cell">{{ order.name }}</td>
          <td class="cell">{{ order.quantity }}</td>
          <td class="cell">{{ order.price }} PLN</td>
          <td class="action cell">
            <button class="delete-button" (click)="deleteOrder(order.id)">
              Delete X
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="no-orders" *ngIf="orders.length === 0">Brak orderów</div>
</div>
