@import "./../../../variables.scss";
.select-input {
  font-size: 2rem;
  border-radius: 0.25rem;
  height: 3rem;
  border: 1px solid gray;
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  &:focus {
    background-color: $input-focus;
  }
}
