<select
  class="select-input"
  [formControl]="control"
  name="userSelection"
  id="userSelection"
>
  <option value="-1" >
    ------------------
  </option>
  <option [value]="user.id" *ngFor="let user of users">
    {{ user.id }} {{ user.name }} {{ user.lastName }}
  </option>
</select>
