<div class="selectForm">
  <h2>Select forms:</h2>
  <div class="buttons">
    <button
      [disabled]="addFormsActive"
      (click)="activeFormsToggle()"
      class="btn"
    >
      Add
    </button>
    <button
      [disabled]="!addFormsActive"
      (click)="activeFormsToggle()"
      class="btn"
    >
      Edit
    </button>
  </div>
</div>
