@import "../../../variables.scss";
.selectForm {
  .buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    .btn {
      box-sizing: border-box;
      width: 25%;
      height: 2rem;
      font-size: 1.5rem;
      background-color: $primary;
      border-radius: 0.25rem;
      color: white;
      &:hover {
        cursor: pointer;
      }
      &:disabled {
        background-color: rgb(27, 168, 27);
        transition: 0.15s ease;
        color: black;
      }
    }
  }
}
@media (max-width: $mobile-breakpoint) {
  .selectForm {
    .buttons {
      .btn {
        width: 50%;
      }
    }
  }
}
