/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
a:link, a:active, a:visited{
    text-decoration: none;
    color: black;
}


}