<main>
  <app-select-form
    (activeFormEmitter)="addFormsActive = $event"
  ></app-select-form>
  <app-messages [newMessage]="newMessage"></app-messages>
  <div class="forms">
    <div *ngIf="addFormsActive">
      <app-add-user
        title="Add User"
        [addForm]="addFormsActive"
        (messagesEmitter)="newMessage = $event"
        (usersEmitter)="newUser = $event"
      ></app-add-user>
      <app-add-order
        title="Add Order"
        (messagesEmitter)="newMessage = $event"
        [newUser]="newUser"
      ></app-add-order>
    </div>
    <div *ngIf="!addFormsActive">
      <app-add-user
        title="Edit User"
        [addForm]="addFormsActive"
        (messagesEmitter)="newMessage = $event"
        (usersEmitter)="newUser = $event"
      ></app-add-user>
      <app-add-order
        title="Edit Order"
        (messagesEmitter)="newMessage = $event"
        [newUser]="newUser"
      ></app-add-order>
    </div>
  </div>
</main>
