@import "./../../variables.scss";
main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 2rem;
  color: $text-color-light;
  display: flex;
  flex-direction: column;
  background-color: $background;
  flex-wrap: wrap;
  gap: 1rem;

  .forms {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
  }
}
@media (max-width: $mobile-breakpoint) {
  main {
    .forms {
      flex-direction: column;
      width: 100%;
    }
  }
}
