@import "./../../variables.scss";

  .component-box {
    margin: 2rem 0;
    .header {
      font-size: 2rem;
      padding-top: 1rem;
  }
  .form-box {
    .form {
      padding: 1rem 0;
      .field {
        display: flex;
        flex-direction: column;
        .field-label {
          font-size: 2rem;
          font-style: italic;
          font-weight: bold;
          color: $text-color-dark;
        }
        .text-input,
        .select-input {
          font-size: 2rem;
          border-radius: 0.25rem;
          border: 1px solid gray;
          padding: 0.5rem;
          box-sizing: border-box;
          &:focus {
            background-color: $input-focus;
          }
        }
        .input-error {
          color: $error-message;
          font-size: 1.75rem;
          font-weight: bold;
          word-wrap: break-word;
        }
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;
        .check {
          font-size: 2rem;
          display: flex;
          gap: 1rem;
          .checkbox {
            font-size: 25rem;
          }
          .redirect-label {
            font-style: italic;
            font-weight: bold;
            color: $text-color-dark;
          }
        }
        .btn {
          font-size: 1.75rem;
          padding: 0.25rem;
          border-radius: 0.25rem;
          background-color: $primary;
          color: $text-color-light;
          margin-left: auto;
          &:hover {
            cursor: pointer;
            background-color: darken($color: $primary, $amount: 10%);
          }
          &:focus {
            background-color: darken($color: $primary, $amount: 20%);
          }
          &:disabled {
            background-color: gray;
            font-style: italic;
            border: 1px solid black;
          }
        }
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .component-box {
    .header {
      color: black;
    }
  }
}
