<div class="content">
  <div class="order" *ngIf="order">
    {{ order.id }}
    {{ order.name }}
    {{ order.quantity }}
    {{ order.price }}
  </div>
  <div class="error" *ngIf="!order">error</div>
</div>
