.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  font-size: 1.75rem;
  table,
  td,
  tr,
  th {
    border: 1px solid black;
    border-collapse: collapse;
  }
  table {
    width: 100%;
  }
  td {
    height: 3rem;
    width: 8rem;
    text-align: center;
    word-wrap: break-word;
    &.sum {
      text-align: right;
    }
    .buttons {
      display: flex;
      flex-direction: column;
    }
  }
  .messages {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .message {
      .success {
        background-color: #90ee90;
        border-radius: 0.25rem;
      }
      .error {
        border-radius: 0.25rem;

        background-color: #ed2939;
      }
    }
  }
  .user-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 1rem 0rem 1rem 0rem;
    button {
      padding: 0.25em;
      border-radius: 0.25em;
      font-size: 1.15rem;
      border: none;

      background-color: #2874a6;
      color: white;
      &:hover {
        cursor: pointer;
      }
      &:active {
        background-color: darken($color: #2874a6, $amount: 10%);
      }
    }
  }
  #sum {
    text-align: right;
  }
  #div-id {
    height: 200rem;
  }
  .order-details {
    font-size: 1.5rem;
    font-style: italic;
    &:hover {
      color: #2874a6;
      &.delete {
        color: red;
        cursor: pointer;
      }
    }
  }
}
