<div class="content" *ngIf="user">
  <div class="messages" *ngIf="messages">
    <div class="messagesBox" *ngFor="let message of messages">
      <div class="message success" *ngIf="message.type">
        {{ message.text }}
      </div>
      <div class="message error" *ngIf="!message.type">
        {{ message.text }}
      </div>
    </div>
  </div>
  <p class="name">{{ user.name }}</p>
  <p class="lastName">{{ user.lastName }}</p>
  <div class="user-buttons">
    <button (click)="deleteUser(+user.id!)" class="delete-user">
      Delete user
    </button>
    <button>Edit user's data</button>
  </div>
  <div *ngIf="orders.length > 0">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <td>{{ order.name }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.price }} zł</td>
          <td>{{ order.price * order.quantity }} zł</td>
          <td>
            <div class="buttons">
              <a [routerLink]="'order/' + order.id" class="order-details"
                >Details</a
              >
              <span
                (click)="deleteOrder(+order.id)"
                class="order-details delete"
                >Delete</span
              >
            </div>
          </td>
        </tr>
        <tr class="last">
          <td colspan="3"></td>
          <td>Sum:</td>
          <td>{{ sum }} </td>
          <td>PLN</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="orders.length === 0">
    <p>No orders yet.</p>
  </div>
</div>
<div *ngIf="!user">User does not exist.</div>
