<div class="component-box">
  <div class="header">
    <h3>{{title}}</h3>
  </div>
  <div class="form-box">
    <form class="form" [formGroup]="addOrderForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label class="field-label" for="selection"
          >user-selection-component</label
        >
        <app-user-selection
          [control]="addOrderForm.controls['user']" [newUser]="newUser"
        ></app-user-selection>
      </div>
      <div class="field">
        <label class="field-label" for="orderName"> Order name: </label>
        <input
          class="text-input"
          id="orderName"
          formControlName="orderName"
          type="text"
        />
      </div>
      <div class="field">
        <label class="field-label" for="quantity">Quantity:</label>
        <input
          class="text-input"
          formControlName="quantity"
          type="number"
          name="quantity"
          id="quantity"
          min="0"
          max="9999"
        />
      </div>
      <div class="field">
        <label class="field-label" for="price">Price:</label>
        <input
          class="text-input"
          min="0"
          max="9999"
          formControlName="price"
          type="number"
          name="price"
          id="price"
        />
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="addOrderButtonDisabled" class="btn">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
