<div class="messages-box" *ngIf="messages.length > 0">
  <div class="messages" *ngFor="let message of messages">
    <div class="message success" *ngIf="message.type">
      {{ message.text }}
    </div>
    <div class="message error" *ngIf="!message.type">{{ message.text }}</div>
  </div>
</div>
