@import "../../../variables.scss";

.messages-box {
  margin: 0 auto;
  color: black;
  width: 100%;
  padding: 1rem 0;
  box-sizing: border-box;
  height: 5rem;
  overflow-y: scroll;
  .messages {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;

    .message {
      width: 100%;
      padding: 1rem 0;
      &.success {
        background-color: $success-message;
      }
      &.error {
        background-color: $error-message;
      }
    }
  }
}
