// $primary: #2874a6;
$primary: #1565c0;
$background: #2e86c1;
$input-focus: #7fb3d5;
$text-color-light: white;
$text-color-dark: black;
$success-message: #90ee90;
$error-message: #7b241c;
$mobile-breakpoint: 1080px;
$delete-button: #D32F2F;
