@import "../../../variables.scss";
header{
  position: sticky;
  top: 0px;
  .navbar {
    display: flex;
    gap: 1em;
    font-size: 1.25rem;
    background-color: $primary;
    padding: 1rem;
    position: sticky;
    top: 0px;
    a:link,
    a:active,
    a:visited {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: #26c6da;
  }
}

}